/*
    Disclaimer:
        Below is the CSS documentation of the BlocHacks2018 project reboot
        The original was made by students Émilie Martin, Daniela Venuta, Minh-Tam Do, and Kevin Sidhu and can be viewed at the following location
            github.com/daniela-venuta/blochacks2018
    Last updated: March 12th, 2019
    Note:
        -Use of the Night Queen Color Palette. See https://www.color-hex.com/color-palette/73435    
*/

#nameAndContact, #languages, #education, #workExp {
    color:black;
    border-color:#0892df;
    background-color: #bad8eb;
}

.fieldsetTitle {
    font-family:Georgia, serif;
    font-size: 24px;
}

#navBar {
    list-style-type: none;
    color: white;
    background-color:#131b2b;
    padding: 15px 15px 15px 15px;
}

#navBar li {
    display: inline;
}

#menu_fr, #menu_en {
    float: right;
}

#navBar li a{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px 15px 15px;
}

#navBar li a:hover {
    background-color: #0892df;
}

body {
    background-color: #eeeeee;
}

p {
    size: 12px;
}

strong {
    color: 	#0892df;
}

.example {
    color: 	#0892df;
}

footer {
    font-style: italic;
    font-size: 12px;
}